url = "/courses_duplicate/:slug"
layout = "default"
title = "Course"
is_hidden = 0

[builderList]
modelClass = "Denis\Teacher\Models\Lessons"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "lesson_name"
noRecordsMessage = "No records found"
detailsPage = "lesson"
detailsKeyColumn = "id"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderList builderList2]
modelClass = "Denis\Teacher\Models\Sprints"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "sprints_title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderDetails]
modelClass = "Denis\Teacher\Models\Courses"
identifierValue = "{{ :id }}"
modelKeyColumn = "id"
displayColumn = "courses_course"
notFoundMessage = "Record not found"
==
{% set record = builderDetails.record %}
{% set records = builderList.records %}
{% component 'builderList2' %}{% component 'builderDetails' %}
<header class="header" id="header">
  <div class="header_toggle"> <i class='fas fa-bars' id="header-toggle"></i> </div>
  <h2 class="fw-normal text-primary">{{ record.courses_course }}</h1>
</header>

<main class="bd-main w-100 overflow-auto">
    <div class="row d-flex">
      <div class="col-lg-6" style="position: sticky;">
        <h2>Cities:</h2>
      <div class="row d-flex">
        {% for city in record.cities %}
          <a href="/cities/{{ city.slug }}" class="btn btn-dark name-view" style="width: 200px; margin:1rem">{{ city.cities_city }}</a>
        {% endfor %}
      </div>
      <div class="row">
        <h2>Related teachers:</h2>
        <div class="row d-flex justify-content-start flex-wrap">
          {% for teacher in record.teacher %}
            <a href="/teachers/{{ teacher.slug }}" class="btn btn-dark name-view" style="width: 200px; margin:1rem">{{ teacher.name }}</a>
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <h2>Related schools:</h2>
        <div class="row d-flex justify-content-start flex-wrap">
          {% for school in record.schools %}
              <a href="/schools/{{ school.slug }}" class="btn btn-dark name-view" style="width: 200px; margin:1rem">{{ school.schools_school }}</a>
          {% endfor %}
        </div>
        <div class="row">
          <h2>Curriculum:</h2>
          <div class="row d-flex justify-content-start flex-wrap">
                <a href="{{ record.curriculum.path }}" class="btn btn-warning name-view" style="width: 200px; margin:1rem" download>Curriculum</a>
          </div>
        </div>
      </div>
      </div>
      <div class="col-lg-5">
        <h2>Lessons:</h2>
        <div class="list-group list-group-flush scrollarea">
          {% for lesson in records %}
            <a href="/lesson/{{ lesson.id }}" class="list-group-item list-group-item-action"><span class="text-primary">{{ lesson.id }}.</span> {{ lesson.lesson_name }}</span></a>
          {% endfor %}
        </div>
    </div>
    </div>
</main>