url = "/courses/:slug"
layout = "default"
title = "Course"
is_hidden = 0

[builderList]
modelClass = "Denis\Teacher\Models\Lessons"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "lesson_name"
noRecordsMessage = "No records found"
detailsPage = "lesson"
detailsKeyColumn = "id"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderList builderList2]
modelClass = "Denis\Teacher\Models\Sprints"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "sprints_title"
noRecordsMessage = "No records found"
detailsPage = "sprint"
detailsKeyColumn = "id"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderDetails]
modelClass = "Denis\Teacher\Models\Courses"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "courses_course"
notFoundMessage = "Record not found"
==
{% set lessons = builderList.records %}
{% set sprints = builderList2.records %}
{% set record = builderDetails.record %}

<header class="header" id="header">
  <div class="header_toggle">
    <i class='fas fa-bars' id="header-toggle"></i>
  </div>
  <div class="header-name d-flex flex-row">
    <h2 class="fw-normal text-primary">{{ record.courses_course }}</h2>
    <a href="#" style="margin-left: 1rem;"><i class="fas fa-info-circle"></i></a>
  </div>
</header>
<main class="bd-main w-100 overflow-auto main-mobile">
  {% for category in user.groups %}
    {% if category.code == record.slug %}
      <div class="d-flex align-items-start w-100 course">
        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          {% if user.groups[0].code != 'teachers' %} 
          <button class="nav-link" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Information</button>
          {% endif %}
          <button class="nav-link active" id="v-pills-materials-course-tab" data-bs-toggle="pill" data-bs-target="#v-pills-materials-course" type="button" role="tab" aria-controls="v-pills-materials-course" aria-selected="false">Materials</button>
          <button class="nav-link" id="v-pills-curriculum-tab" data-bs-toggle="pill" data-bs-target="#v-pills-curriculum" type="button" role="tab" aria-controls="v-pills-curriculum" aria-selected="false">Curriculum</button>
          <button class="nav-link" id="v-pills-additional-tab" data-bs-toggle="pill" data-bs-target="#v-pills-additional" type="button" role="tab" aria-controls="v-pills-additional" aria-selected="false">Additional</button>
          <button class="nav-link" id="v-pills-admission-tab" data-bs-toggle="pill" data-bs-target="#v-pills-admission" type="button" role="tab" aria-controls="v-pills-admission" aria-selected="false">Admission</button>
        </div>
        <div class="tab-content w-100" id="v-pills-tabContent">
          <div class="tab-pane fade w-100" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <div class="tab-content-inner w-100 d-flex flex-row justify-content-center">
              <div class="row d-flex justify-content-around w-100">
                <div style="width: 20%;">
                  <a class="w-100" data-bs-toggle="collapse" href="#collapseCities" role="button" aria-expanded="false" aria-controls="collapseCities">  
                    <div class="w-100">
                            <div class="card p-3 mb-2">
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-row align-items-center">
                                        <div class="icon"> <i class="fas fa-city" style="font-size: 30px;"></i> </div>
                                    </div>
                                    <div class="badge"> <span>City</span> </div>
                                </div>
                                <div class="mt-5"  style="margin-top: 0.5rem !important;">
                                    <h3 class="heading">Cities</h3>
                                    <div class="mt-3">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                          <div class="mt-3"> <span class="text1">{{ record.cities|length }} <span class="text2">Applied</span></span> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </a>
                      <div class="list-group collapse w-100" id="collapseCities">
                        {% for city in record.cities %}
                          <a href="/cities/{{ city.slug }}" class="list-group-item list-group-item-action"><span class="text-primary">{{ loop.index}}.</span> {{ city.cities_city }}</span></a>
                        {% endfor %}
                      </div> 
                </div>
                <div style="width: 20%;">
                  <a class="w-100" data-bs-toggle="collapse" href="#collapseTeachers" role="button" aria-expanded="false" aria-controls="collapseTeachers">  
                    <div class="w-100">
                            <div class="card p-3 mb-2">
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-row align-items-center">
                                        <div class="icon"> <i class="fas fa-chalkboard-teacher" style="font-size: 30px;"></i> </div>
                                    </div>
                                    <div class="badge"> <span>Teacher</span> </div>
                                </div>
                                <div class="mt-5"  style="margin-top: 0.5rem !important;">
                                    <h3 class="heading">Teachers</h3>
                                    <div class="mt-3">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                          <div class="mt-3"> <span class="text1">{{ record.teacher|length }} <span class="text2">Applied</span></span> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </a>
                      <div class="list-group collapse w-100" id="collapseTeachers">
                        {% for teacher in record.teacher %}
                          <a href="/teachers/{{ teacher.slug }}" class="list-group-item list-group-item-action"><span class="text-primary">{{ loop.index }}.</span> {{ teacher.name }}</span></a>
                        {% endfor %}
                      </div> 
                </div>
                <div style="width: 20%;">
                  <a class="w-100" data-bs-toggle="collapse" href="#collapseSchools" role="button" aria-expanded="false" aria-controls="collapseSchools">  
                    <div class="w-100">
                            <div class="card p-3 mb-2">
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-row align-items-center">
                                        <div class="icon"> <i class="fas fa-school" style="font-size: 30px;"></i> </div>
                                    </div>
                                    <div class="badge"> <span>School</span> </div>
                                </div>
                                <div class="mt-5"  style="margin-top: 0.5rem !important;">
                                    <h3 class="heading">Schools</h3>
                                    <div class="mt-3">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                          <div class="mt-3"> <span class="text1">{{ record.schools|length }} <span class="text2">Applied</span></span> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </a>
                      <div class="list-group collapse w-100" id="collapseSchools">
                        {% for school in record.schools %}
                          <a href="/schools/{{ school.slug }}" class="list-group-item list-group-item-action"><span class="text-primary">{{ loop.index }}.</span> {{ school.schools_school }}</span></a>
                        {% endfor %}
                      </div> 
                </div>
                <div style="width: 20%;">
                  <a class="w-100" data-bs-toggle="collapse" href="#collapseDocs" role="button" aria-expanded="false" aria-controls="collapseDocs">  
                    <div class="w-100">
                            <div class="card p-3 mb-2">
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-row align-items-center">
                                        <div class="icon"><i class="fas fa-file-upload" style="font-size: 30px;"></i></div>
                                    </div>
                                    <div class="badge"> <span>Docs</span> </div>
                                </div>
                                <div class="mt-5"  style="margin-top: 0.5rem !important;">
                                    <h3 class="heading">Documents</h3>
                                    <div class="mt-3">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                          <div class="mt-3"> <span class="text1">2 <span class="text2">Applied</span></span> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </a>
                      <div class="list-group collapse w-100" id="collapseDocs">
                        <a href="{{ record.curriculum.path }}" class="list-group-item list-group-item-action" download><span class="text-primary"><i class="fas fa-download" style="font-size: 20px;"></i></span> Curriculum</a>
                      </div> 
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade show active w-100" id="v-pills-materials-course" role="tabpanel" aria-labelledby="v-pills-materials-course-tab">
            <div class="tab-content-inner w-100 d-flex flex-row justify-content-center">
              <div class="row d-flex flex-wrap justify-content-around w-100" >
                {% for sprint in sprints %}
                  {% if sprint.courses[0].slug == record.slug %}
                    <div class="sprint-card">
                      <a class="w-100" data-bs-toggle="collapse" href="#collapse-{{ sprint.slug }}" role="button" aria-expanded="false" aria-controls="collapse-{{ sprint.slug }}">  
                        <div class="w-100">
                                <div class="card p-3 mb-2">
                                    <div class="d-flex justify-content-between">
                                        <div class="d-flex flex-row align-items-center">
                                            <div class="icon"> <i class="fas fa-running"></i> </div>
                                            <div class="ms-2 c-details">
                                                <h6 class="mb-0">{{ sprint.sprints_title }}</h6> <span>{{ sprint.start_date|date("d.m") }} - {{ sprint.end_date|date("d.m") }}</span>
                                            </div>
                                        </div>
                                        <div class="badge"> <span>{{ sprint.tag }}</span> </div>
                                    </div>
                                    <div class="mt-5"  style="margin-top: 0.5rem !important;">
                                        <h3 class="heading">{{ sprint.name }}</h3>
                                        <div class="mt-3">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width:{{ sprint.lessons|length / lessons|length * 100 }}%" aria-valuenow="6" aria-valuemin="0" aria-valuemax="{{ lessons|length }}"></div>
                                            </div>
                                              <div class="mt-3"> <span class="text1">{{ sprint.lessons|length }} Applied <span class="text2">of {{ lessons|length }} lessons</span></span> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </a>
                          <div class="list-group collapse w-100" id="collapse-{{ sprint.slug }}">
                            {% for lesson in lessons %}
                              {% if lesson.sprints[0].sprints_title == sprint.sprints_title %}
                                <a href="/courses/{{ record.slug }}/lesson/{{ lesson.id }}" class="list-group-item list-group-item-action">
                                  <span class="text-primary">{{ lesson.number_count }}.</span> {{ lesson.lesson_name }}</span>
                                </a>
                              {% endif %}
                            {% endfor %}
                          </div> 
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="tab-pane fade w-100" id="v-pills-curriculum" role="tabpanel" aria-labelledby="v-pills-curriculum-tab">
            <div class="tab-content-inner w-100 d-flex flex-row justify-content-center">
              <div class="row d-flex justify-content-around w-100">
                <a class="btn btn-warning w-50" href="https://docs.google.com/document/d/1sokVQ2hTkPrtL4vf_hJ0tOsn8A9Zlu2yO6bEqezJW3E/edit?usp=sharing" target="_blank" style="margin-top: 1rem;">Watch</a>
              </div>
            </div>
          </div>
          <div class="tab-pane fade w-100" id="v-pills-additional" role="tabpanel" aria-labelledby="v-pills-additional-tab">
            <div class="tab-content-inner w-100 d-flex flex-row justify-content-center">
              <div class="row d-flex justify-content-around w-100">
                
              </div>
            </div>
          </div>
          <div class="tab-pane fade w-100" id="v-pills-admission" role="tabpanel" aria-labelledby="v-pills-admission-tab">
            <div class="tab-content-inner w-100 d-flex flex-row justify-content-center">
              <div class="row d-flex justify-content-around w-100">
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfpysWiTBXzt5cAiMQiHFAFgLgZT9CtQ5xihN6T63gzddbI2w/viewform?embedded=true" width="1000" height="800" frameborder="0" marginheight="0" marginwidth="0">Завантаження…</iframe>
              </div>
            </div>
          </div>
        </div>

      </div>
    {% else %}
      <p class="denied text-dark">Ooops! We see you are the teacher but you don't teach this course!</p>
    {% endif %}
  {% endfor %}
</main>

<script>
  let denied = document.querySelectorAll('.denied')

  console.log(denied.length)

  if ( denied.length >= 2 ) {
    for (let index = 0; index < denied.length; index++) {
     if (index >= 1) {
       denied[index].remove()
     }
    }
  }
  else {
    denied[0].remove()
  }
</script>