title = "CRM"
url = "/crm"
layout = "default"
is_hidden = 0

==

<header class="header" id="header">
    <div class="header_toggle"> <i class='fas fa-bars' id="header-toggle"></i> </div>
    <h2 class="text-primary fw-normal">CRM</h2>
  </header>

<main class="bd-main w-100">
  <div class="d-flex align-items-start w-100 course">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      {% if user.groups[0].code != 'teachers' %} 
      <button class="nav-link  active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Common</button>
      {% endif %}
      <button class="nav-link" id="v-pills-materials-course-tab" data-bs-toggle="pill" data-bs-target="#v-pills-materials-course" type="button" role="tab" aria-controls="v-pills-materials-course" aria-selected="false">Teachers</button>
      <button class="nav-link" id="v-pills-curriculum-tab" data-bs-toggle="pill" data-bs-target="#v-pills-curriculum" type="button" role="tab" aria-controls="v-pills-curriculum" aria-selected="false">Admins</button>
    </div>
    <div class="tab-content w-100" id="v-pills-tabContent">
      <div class="tab-pane fade show active w-100" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
        <div class="tab-content-inner w-100 d-flex flex-row justify-content-center">
          <div class="row w-100 d-flex flex-row justify-content-around">
            <div class="col-lg-5 d-flex flex-column flex-column justify-content-start align-items-center">
                <div class="card mb-4 rounded-3 shadow-sm border-primary">
                    <div class="card-header py-3 text-primary border-primary">
                        <h4 class="my-0 fw-normal">Tallanto CRM</h4>
                    </div>
                    <div class="card-body d-flex flex-column align-items-center">
                        <img src="{{ 'assets/images/bottom_logo.png'|theme }}" alt="" width="400" height="400" class="img-fluid">
                        <br>
                        <a href="http://kfund-school.tallanto.com/index.php?module=Home&action=index" target="_blank" type="button" class="w-100 btn btn-lg btn-outline-primary">More info</a>
                    </div>
                </div>
                <a href="https://play.google.com/store/apps/details?id=com.tallanto.teachers&hl=uk&gl=US" target="_blank" class="btn btn-light w-75">Android app</a>
                <br>
                <a href="https://apps.apple.com/us/app/tallanto-teachers/id1434284833" target="_blank" class="btn btn-light w-75">Apple</a>
            </div>
            <div class="col-lg-5 d-flex flex-column flex-column justify-content-start align-items-center">
              <div class="creds w-100">
                <h2>Статусы детей в системе:</h2>
                <br>
                
              </div>
              <div class="statuses w-100">
                <h2>Статусы детей в системе:</h2>
                <br>
                  <div class="accordion w-100" id="accordionExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Посетил занятие
                      </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse w-100" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Не придет
                      </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse w-100" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Прогул
                      </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse w-100" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                      </div>
                    </div>
                  </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade w-100" id="v-pills-materials-course" role="tabpanel" aria-labelledby="v-pills-materials-course-tab" style="position: sticky; top: 5em;">
        <div class="tab-content-inner w-100 d-flex flex-row justify-content-center">
          <div class="row d-flex justify-content-around w-100" >
            {% for sprint in sprints %}
              {% if sprint.courses[0].slug == record.slug %}
                <div style="width: 20%;">
                  <a class="w-100" data-bs-toggle="collapse" href="#collapse-{{ sprint.slug }}" role="button" aria-expanded="false" aria-controls="collapse-{{ sprint.slug }}">  
                    <div class="w-100">
                            <div class="card p-3 mb-2">
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-row align-items-center">
                                        <div class="icon"> <i class="fas fa-running"></i> </div>
                                        <div class="ms-2 c-details">
                                            <h6 class="mb-0">{{ sprint.sprints_title }}</h6> <span>{{ sprint.start_date|date("d.m") }} - {{ sprint.end_date|date("d.m") }}</span>
                                        </div>
                                    </div>
                                    <div class="badge"> <span>{{ sprint.tag }}</span> </div>
                                </div>
                                <div class="mt-5"  style="margin-top: 0.5rem !important;">
                                    <h3 class="heading">{{ sprint.name }}</h3>
                                    <div class="mt-3">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width:{{ sprint.lessons|length / lessons|length * 100 }}%" aria-valuenow="6" aria-valuemin="0" aria-valuemax="{{ lessons|length }}"></div>
                                        </div>
                                          <div class="mt-3"> <span class="text1">{{ sprint.lessons|length }} Applied <span class="text2">of {{ lessons|length }} lessons</span></span> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </a>
                      <div class="list-group collapse w-100" id="collapse-{{ sprint.slug }}">
                        {% for lesson in lessons %}
                          {% if lesson.sprints[0].sprints_title == sprint.sprints_title %}
                            <a href="/courses/{{ record.slug }}/lesson/{{ lesson.id }}" class="list-group-item list-group-item-action">
                              <span class="text-primary">{{ lesson.number_count }}.</span> {{ lesson.lesson_name }}</span>
                            </a>
                          {% endif %}
                        {% endfor %}
                      </div> 
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="tab-pane fade w-100" id="v-pills-curriculum" role="tabpanel" aria-labelledby="v-pills-curriculum-tab">
        <div class="tab-content-inner w-100 d-flex flex-row justify-content-center">
          <div class="row d-flex justify-content-around w-100">
            <a class="btn btn-warning w-25" href="{{ record.curriculum.path }}" style="margin-top: 1rem;" download>Download</a>
          </div>
        </div>
      </div>
    </div>

  </div>
  </main>

  